body{
    display: flex;
    justify-content: center;
    align-content: center;
}

.content-poke{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 650px;
    height: fit-content;
    border: 2px solid black;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    background-color: #ffe4c4;
}
.infoTrainer{
    display: flex;
    flex-direction: row;
}

.trainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px 0;
}

.trainer-pokemons{
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
}

.trainer-name{
    width: 50%;
    margin-left: 10px;
    margin-top: 10px;
    border: 2px solid black;
    text-align: center;
    font-size: 30px;
    background-color: #fdb674;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    p{
        margin: 0;
        color: #fff6ed;
    }
}

.grass {
    border: 2px solid green;
    border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
}

.fire {
    border: 2px solid red;
    border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
}

.water {
    border: 2px solid blue;
    border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
}

.electric {
    border: 2px solid yellow;
    border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
}

.normal{
    border: 2px solid blueviolet;
    border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
}

.rock{
    border: 2px solid brown;
    border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
}

.dark{
    border: 2px solid black;
    border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
}

.poison{
    border: 2px solid purple;
    border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
}

.psychic{
    border: 2px solid pink;
    border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
}

.fairy{
    border: 2px solid orange;
    border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
}

.steel{
    border: 2px solid silver;
    border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
}